header {
    background-color: var(--yellow);
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h1 {
  font-size: 4rem;
  color:var(--dark-gray);
}


.nav__menu ul {
  display: flex
}
.nav__menu a {
margin: 1.87rem;
font-size: 1.3rem;
color:var(--dark-gray);
}

.nav__menu a:hover {
    color:var(--red);
}
a.number {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color:var(--dark-gray);
  font-weight: 600;
}

.main {
    display: flex;
    flex-direction: column;
    margin:1.87rem 0;
    
}

.main__text {   
/* width:50%; */
}
/* .main__text img {
    width: 70%; */
    /* position: absolute;
    width: 553px;
    height: 629px;
    left: 1023px;
    top: 21px; */


.main__text h1{
    font-size: 4.37rem;
    line-height: 105.4%;
    color:var(--dark-gray);
    margin-bottom: 1.87rem;
}
.main__text h2{
    font-size: 1.87rem;
    line-height: 2.31rem;
    color:var(--dark-gray);
}


.main__button {
    position: absolute;
    padding: 0 5.62rem;
    height: 4.37rem;
    top: 21.2rem;
    background-color: var(--red);
    font-size:2rem;
    line-height: 1.81rem;
    text-align: center;
    color:var(--white-smoke);
    border-style: none; 
    z-index: 5;
}




.main__button:hover {
    background:var(--orange);
    transition-duration:0.5s;

}
    
.main__button-border {
    position: relative;
    z-index: 1;
    width: 19.5rem;
    height: 3.75rem;
    left: 0.81rem;
    top: 2.06rem;
    border: 2px solid var(--white-smoke);
    height: 4.5rem;
    margin-bottom: 4.8rem;
}

.main__button:hover + .main__button-border {
background:var(--white-smoke);
border: 2px solid var(--white-smoke);

}

.main__items {
gap:1rem;
display: flex;  
align-items: center;


}

.main__items p {
width:10rem;
font-size: 1rem;
line-height: 1.3rem;
color:var(--dark-gray);
padding-left:0.6rem;

}

.main__items-list1 {
    display: flex;
    align-items: center;
}
.main__items-list2 {
    display: flex;
    align-items: center;
}
.main__items-list3 {
    display: flex;
    align-items: center;
}








/* .main__img img {
    object-fit: cover;
    width: 553px;
    height: 629px;left: 1023px;
top: 21px;
} */
